
.title{
    position: relative;
    font-family: inherit;
    color: #505458;
    font-size: 50px;
    line-height: 44px;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 0px 40px 0px 40px;
    margin-top: 9%;
    margin-left: 3%;
   
    }
#img1{
    margin-left: 3%;
    margin-top: 3%;
    width: 90%;
    z-index: -9;
    height: 500px;
}
#img2{
    width:15%;
    margin-left: 10%;
    margin-top: -7%;
    position: relative;
  left: 16px;
}
#img3{
    float: right;
    width: 47%;
    margin-top: 8%;
}
#img4{
    float: left;
    width: 47%;
    margin-top: 15%;
}
#head{
    position: relative;
    font-family: inherit;
    color: #178585;
    font-size: 40px;
    line-height: 44px;
    font-weight: 300;
    letter-spacing: -2px;
    padding: 0px 40px 0px 40px;
    margin-top: 7% ;
    margin-left: 3%;
}
#head1{
    position: relative;
    font-family: inherit;
    color: #178585;
    font-size: 40px;
    line-height: 44px;
    font-weight: 300;
    letter-spacing: -2px;
    padding: 0px 40px 0px 40px;
    margin-top: 15% ;
    margin-left: 51%;
}
#head2{
    position: relative;
    font-family: inherit;
    color: #178585;
    font-size: 40px;
    line-height: 44px;
    font-weight: 300;
    letter-spacing: -2px;
    padding: 0px 40px 0px 40px;
    margin-top: 5% ;
    margin-left: 51%;
}
#par{
    margin-left: 6%;
    margin-right: 55%;
     text-align:justify;
     margin-top: 3%;
     font-size: 20px;
}
.btn{
    float: right;
}


#head3{
    position: relative;
    font-family: inherit;
    color: #178585;
    font-size: 30px;
    line-height: 44px;
    font-weight: 300;
    letter-spacing: -2px;
    padding: 0px 40px 0px 40px;
    margin-top: 5% ;
    margin-left: 5%;
}

